.grid {
    display: grid;
    grid-template-columns: repeat(20, 20px);
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid black
}

.cellToggleBg {
    width: 10px;
    height: 10px;
    background-color: limegreen;
    border: 1px solid black;
}