.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
    color: rgb(185, 75, 81);
}

.ruleTxt {
    font-weight: bold;
    font-size: 20px;
    color: goldenrod;
    background: white;
    height: 30px;
    border: 2px solid goldenrod;
    border-radius: 13px;
    outline: none;
    font-weight: bold;
}

.displayRules {
    display: contents !important;
}

#rules {
    font-size: 15px;
    display: none;
}
